<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.uc.mapper.AdminMapper">

		<!-- cache标签进行mapper文件的sql语句对象的二级缓存
		mapper文件范围内的所有select的sql语句执行结果都会被缓存
		eviction回收策略，flushInterval间隔刷新时间ms,readOnly对象可读，size缓存的大小，默认是1024
		 -->
		 <cache eviction="LRU"
		  flushInterval="60000"
		  readOnly="false"
		  size="300" 
		  />
		  
    <select id="selectAll" resultMap="AdminMap">
       select * from t_admin
    </select>
    
    <resultMap type="Admin" id="AdminMap">
       <id property="id" column="id"/>
       <result property="level" column="level"/>
       <result property="status" column="state"/>
       <result property="userId" column="u_id"/>
    </resultMap>
    
    <insert id="insert" parameterType="Admin">
    	insert into t_admin(u_id,state,level)
    	values (#{userId},#{status},#{level})
    	<selectKey resultType="Integer" order="AFTER" keyProperty="id">
    		select LAST_INSERT_ID() as id
    	</selectKey>
    </insert> 
</mapper>