<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"></properties>
	<typeAliases>
		<package name="cn.uc.model"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
	        <property name="driver" value="${driver}"/>
	        <property name="url" value="${url}"/>
	        <property name="username" value="${user}"/>
	        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="cn/uc/mapper/TAdminMapper.xml"/>
    <mapper resource="cn/uc/mapper/TUserMapper.xml"/>
    <mapper resource="cn/uc/mapper/TNewsMapper.xml"/>
    <mapper resource="cn/uc/mapper/TTypeMapper.xml"/>
    <mapper resource="cn/uc/mapper/TCommentMapper.xml"/>
    <mapper resource="cn/uc/mapper/TPicMapper.xml"/>
    <mapper resource="cn/uc/mapper/AreasMapper.xml"/>
    <mapper resource="cn/uc/mapper/CitiesMapper.xml"/>
    <mapper resource="cn/uc/mapper/ProvincesMapper.xml"/>
  </mappers>
</configuration>